.add-player-wrapper {
    margin: 0 1rem 1rem 1rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 12px 0px hsla(212, 63%, 12%, 20%);
    padding: 1.5rem;
}

.add-player-wrapper h2 {
    margin-bottom: 1rem;
    color: var(--primary-600)
}

input[type="text"] {
    min-width: 100%;
    min-height: 3rem;
    border-radius: 1rem;
    padding: 1rem;
    border: 2px solid var(--neutrals-300);
    margin-bottom: 0.75rem;
    outline-color: var(--primary-300);
}

fieldset {
    margin-bottom: 1rem;
    border-radius: 999px;
    border: none;
    display: flex;
    justify-content: space-between;
    padding: 0.25rem;
    background: #E5EEFF;
}

.radio-option {
    width: 100%;
}

.radio-option input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.radio-option span {
    display: block;
    text-align: center;
    padding: 0.5rem;
    border-radius: 999px;
    cursor: pointer;
}

.radio-option input:checked + span {
    background: var(--neutrals-50);
    color: var(--neutrals-900);
    font-weight: 600;
}

.add-player-wrapper button {
    width: 100%;
    min-height: 3rem;
    border-radius: 1rem;
    border: none;
    color: var(--neutrals-50);
    background: var(--primary-600);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}