.add-player-wrapper {
    margin: 0 1rem 0 1rem;
    border: 1px solid red;
    padding: 1.5rem;
}

.add-player-wrapper h2 {
    margin-bottom: 1rem;
}

input[type="text"] {
    min-width: 100%;
    min-height: 3rem;
    border-radius: 1rem;
    border: 1px solid #C2C9BB;
    margin-bottom: 0.75rem;
}

fieldset {
    margin-bottom: 1rem;
    border-radius: 999px;
    border: none;
    display: flex;
    justify-content: space-between;
    padding: 0.25rem;
    background: #E5EEFF;
}

.radio-option {
    width: 100%;
}

.radio-option input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.radio-option span {
    display: block;
    text-align: center;
    padding: 0.5rem;
    border-radius: 999px;
    cursor: pointer;
}

.radio-option input:checked + span {
    border-color: black;
    background: black;
    color: white;
}

.add-player-wrapper button {
    width: 100%;
    min-height: 4rem;
    border-radius: 1rem;
    border: none;
    background: #154212;
}