.roster-wrapper {
  margin: 0 1rem 0 1rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 12px 0px hsla(212, 63%, 12%, 20%);
  padding: 1.5rem;
}

.roster-wrapper > h2 {
    margin: 0 0 1rem 0;
    color: var(--primary-600);
}

.player-wrapper {
  min-width: 100%;
  min-height: 4rem;
  margin: 0 0 0.5rem 0;
  border: 1px solid red;
  border-radius: 12px;
  padding: 0 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eff4ff;
}

.player-info {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.player-info > div > span {
  display: block;
}
